h2{
    text-align: center;
    color: #301862;
    font-size: 240%;
}

div{
    align-items: center;
    text-align: center;
}


form{
    margin: 5%;
}
.txtf{
    position: relative;
    border-bottom: solid 2px #adadad;
    margin: 30px 0;
}
.txtf input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    color: black;
}
.txtf label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
}
.txtf span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #301862;
    transition: 0.5s;
}
.txtf input:focus ~ label , .txtf input:valid ~ label{
top: -5px;
color: #301862;
}
.txtf input:focus ~ span::before , .txtf input:valid ~ span::before{
    width: 100%;
}


.btn{
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid #301862;
    color: #301862;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    z-index: 1;
    transition: 100ms linear;
  }
  
  
.btn:hover {
      background-color: #301862;
      color: white;
  }

p{
    text-align: left;
    margin-left: 5%;
}

p a{
    cursor: pointer;
    color: #301862;
    text-decoration: underline;
}