<div>
    <h2>Sign Up</h2>
    <form (ngSubmit)="onSubmit(form)" #form="ngForm" novalidate>
        <div class="txtf">
            <input type="text" name="username" ngModel required>
            <span></span>
            <label>Username</label>
        </div>
        <div class="txtf">
            <input type="email" name="email" ngModel required>
            <span></span>
            <label>Email</label>
        </div>
        <div class="txtf">
            <input type="password" name="password" ngModel required>
            <span></span>
            <label>Password</label>
        </div>
        <div class="txtf">
            <input type="password" name="confirmPassword" ngModel required>
            <span></span>
            <label>Confirm Password</label>
        </div>
        <input type="submit" value="SIGNUP" class="btn">
    </form>
    <p>Already a member? <a (click)="openLogin()">Login Now</a></p>
</div>
