<div>
    <h2>Login</h2>
    <form (ngSubmit)="onLoginSubmit(form)" #form="ngForm" novalidate>
        <div class="txtf">
            <input type="email" name="email" ngModel required>
            <span></span>
            <label>E-mail</label>
        </div>
        <div class="txtf">
            <input type="password" name="password" ngModel required>
            <span></span>
            <label>Password</label>
        </div>
        <input type="submit" value="LOGIN" class="btn">
    </form>
    <p>Not a member? <a (click)="openSignUp()">Sign up Now</a></p>
</div>
