<section>
    <img src="assets/gradient.png" alt="test" width="100%">
    <img #stars src="assets/stars.png" alt="" id="stars">
    <img src="assets/foot.png" alt="">
    <div>
        <h1>Lorem ipsum</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus, vero. Alias nihil neque quam laborum impedit, nostrum quod facilis! Fugit, eligendi? Deleniti ipsam consequatur placeat nihil neque libero, ullam illo?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis est ut odio pariatur sunt, dolore perspiciatis atque consectetur adipisci quia molestiae tenetur, deserunt laborum, nostrum minima. Quidem consectetur dicta iste.
        </p>
    </div>
</section>

<!-- search bar -->


<!-- Cards -->
<h2 class="containertitle" id="books">Books</h2>
<div class="productcontainer">
    
    <div class="product" (click)="openDialog()">
        <img src="assets/book.png" alt="" width="60%">
        <h3>Book Title</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate veritatis incidunt pariatur ipsa</p>
        <h3>Price: 20</h3>
        <button>Add to Cart</button>
        
    </div>
    <div class="product" (click)="openDialog()">
        <img src="assets/book.png" alt="" width="60%">
        <h3>Book Title</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate veritatis incidunt pariatur ipsa</p>
        <h3>Price: 20</h3>
        <button>Add to Cart</button>
        
    </div>
    <div class="product" (click)="openDialog()">
        <img src="assets/book.png" alt="" width="60%">
        <h3>Book Title</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate veritatis </p>
        <h3>Price: 20</h3>
        <button>Add to Cart</button>
        
    </div>
    <div class="product" (click)="openDialog()">
        <img src="assets/book.png" alt="" width="60%">
        <h3>Book Title</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <h3>Price: 20</h3>
        <button>Add to Cart</button>
        
    </div>
    <div class="product" (click)="openDialog()">
        <img src="assets/book.png" alt="" width="60%">
        <h3>Book Title</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        <h3>Price: 20</h3>
        <button>Add to Cart</button>
        
    </div>
</div>

<!-- details -->
 <div class="details" id="about">
    <div>
        <h3>Contact</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe omnis facere at dicta rerum quae quas labore porro laboriosam ex culpa blanditiis, natus accusamus rem libero molestias. Alias, distinctio obcaecati.</p>
    </div>
    <div>
        <h3>Company Info</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe omnis facere at dicta rerum quae quas labore porro laboriosam ex culpa blanditiis, natus accusamus rem libero molestias. Alias, distinctio obcaecati.</p>
    </div>
    <div>
        <h3>Website Info</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe omnis facere at dicta rerum quae quas labore porro laboriosam ex culpa blanditiis, natus accusamus rem libero molestias. Alias, distinctio obcaecati.</p>
    </div>

 </div>





 