<div>
    <nav class="navlink" id="home">
        
            <a href="#home" class="navleft">
                <img src="assets/logo.png" alt="logo" width="100rem">
            </a>
        
            <a href="#home" class="nav-link">Home</a>
                    
            <a href="#about" class="nav-link">About Us</a>
                    
            <a href="#books" class="nav-link">Books</a>
                    
            <a class="nav-link" (click)="openDialog()">Login</a>
            
        
    </nav>
</div>