/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    scroll-behavior: smooth;
    background-color: white;
}
body{
    overflow-x: hidden;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Styles for the scrollbar */
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
    height: 10px; /* Height of the scrollbar (for horizontal scrollbars) */
  }
  
  ::-webkit-scrollbar-track {
    background: #010133; /* Background of the scrollbar track */
     /* Rounds the corners of the track */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: white; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounds the corners of the thumb */
    border: 2px solid #010133; /* Adds border around the thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: white; /* Changes color of the thumb on hover */
  }
  